/*********************************************
* STYLES FOR SKIN FIVE
*********************************************/
nav#main-nav{background:url(../images/backgrounds/skin-contrast.jpg);}
body #about h2,body #news #wdgt-news h2, body #news #wdgt-twitter h2, body #mydribbble h2, body #contact h2{border-top:2px solid #ffea00;border-bottom:2px solid #ffea00;}
body #about a, body #news a, body #mydribbble a, body #contact a{background-color:#ffea00;}
body #about a:hover,body #news a:hover, body #contact a:hover{background-color:#000;color:#ffea00;}

/*NAV*/
body #main-nav #nav-menu h4{color:#FFF;}
body nav#main-nav #nav-menu #nav-options ul li a{color:#FFF;}
body nav#main-nav #nav-menu #nav-options ul li.active, body nav#main-nav #nav-menu #nav-options ul li a:hover{background:#ffea00;color:#000;}
body nav#main-nav ul#network-menu li a{color:#FFF;}

/*DRIBBBLE*/
body #mydribbble #mydribbble-stats a{background:#ffea00;color:#000;}
#mydribbble #mydribbble-stats a:hover{background:#000;color:#ffea00;}
#mydribbble #mydribbble-drafts .plus-following{background:#ffea00;color:#000;}
#mydribbble #mydribbble-drafts ul li a{background:#000;color:#ffea00;}
#mydribbble #mydribbble-drafts ul li a:hover{background:#ffea00;color:#000;}
body #mydribbble .bx-next{background:url(../css/bx_styles/gray_next.png) no-repeat 0 -30px;}
body #mydribbble .bx-prev {background: url(../css/bx_styles/gray_prev.png) no-repeat 0 -30px;}
body #mydribbble .bx-next:hover, body #mydribbble .bx-prev:hover{background-position: 0 0 #FFF;}

/*CONTACT FORM*/
div.contact-form{border-top:5px solid #ffea00;}
div.contact-form form input.form-submit:hover{background:#ffea00;color:#000;cursor:pointer;}
body div.contact-form:hover{color:#ffea00;}

/**** WORK SKIN GAL THUMBS FULL (DEFAULT WORK VIEW) ****/
#work-detail-wrapper .item-wrapper .item .info-work, #work-detail-wrapper #work-gal-photo .item .info-work{border-top:8px solid #ffea00;}
#work-detail-wrapper .item-wrapper span#closebt a:hover{background:url(../images/btn-close-yellow.png) no-repeat;}
body #work-gal p a, #work-detail-wrapper #work-gal-photo p a{color:#ffea00;}
#work-gal p a:hover, #work-detail-wrapper #work-gal-photo p a:hover{background:#ffea00;color:#000;}
#work-gal h3{color:#ffea00;border-bottom:2px solid #ffea00;}
#work-detail-wrapper #work-gal-photo h3{color:#ffea00;}
#work-gal #pagination a:hover, #work-detail-wrapper #work-gal-photo #pagination a:hover{color:#ffea00;}
#work-gal .info-extended, #work-detail-wrapper #work-gal-photo .info-extended{color:#ffea00;}
.skin-05 #divThumbs, .skin-05 #work-detail-wrapper #work-gal-photo #divThumbs{border-top:8px solid #ffea00;}
.skin-05 #up, .skin-05 #work-gal-photo #up{background-color:#ffea00;}
.skin-05 #fdgNav span#fdgPrev.hide, .skin-05 #fdgNav span#fdgNext.hide{background:none;cursor: default;}

/**** WORKS - HORIZONTAL SCROLL STYLES ****/
li.copy span a{background:#ffea00;}
#mcs_container .content li.copy ul li{background:#ffea00;}

/*STYLES FOR SCROLLER IN LOADED WORKS WITH SCROLL PRESENTATION*/
#mcs_container .dragger_container{border-top:1px dashed #ffea00;}
#mcs_container .dragger:hover{background:#ffea00;}
#mcs_container .dragger_pressed{background:#ffea00 url(mcsDraggerHover.png) no-repeat;}

@media only screen and (-webkit-min-device-pixel-ratio: 0) and (min-device-width: 1025px) {
::-webkit-scrollbar-thumb:vertical{height: 50px;background-color: #ffea00;-webkit-border-radius: 3px;}
}
::selection{background: #ffea00;color:#404040;}
::-moz-selection{background: #ffea00;color:#404040;}